<h1>admin</h1>
<ul>
  <li><%= link_to 'Create Categories',new_admin_category_path %></li>
  <li><%= link_to 'Create products',new_admin_product_path %></li>
  <li><%= link_to 'all user',admin_users_path %></li>
</ul>
